.testimonials{

padding:90px 8%;

background:#101827;

}

.testimonial-heading{

text-align:center;

margin-bottom:60px;

}

.testimonial-heading h2{

font-size:42px;

color:#fff;

margin-bottom:15px;

}

.testimonial-heading p{

color:#9CA3AF;

font-size:17px;

}

.review-card{

background:#172033;

padding:35px;

border-radius:20px;

text-align:center;

transition:.4s;

height:100%;

}

.review-card:hover{

transform:translateY(-10px);

}

.review-card img{

width:90px;

height:90px;

border-radius:50%;

object-fit:cover;

margin-bottom:20px;
margin: 0 auto;
}

.review-card h3{

color:#fff;

margin-bottom:8px;

}

.review-card h4{

color:#14B8A6;

font-weight:600;

margin-bottom:5px;

}

.review-card span{

color:#9CA3AF;

display:block;

margin-bottom:20px;

}

.review-card p{

color:#d1d5db;

line-height:1.8;

}

.stars{

margin:20px 0;

color:#FFD43B;

display:flex;

justify-content:center;

gap:4px;

font-size:18px;

}

.swiper {
  width: 100%;
  padding: 20px 0 50px;
  cursor: grab;
}

.swiper:active {
  cursor: grabbing;
}

.swiper-slide {
  height: auto;
}

.review-card {
  height: 100%;
}

@media(max-width:768px){

.testimonials{

padding:70px 20px;

}

.testimonial-heading h2{

font-size:34px;

}

}